<div class="pure-u-1">
  <h2>Write your post:</h2>
  <form action="/new_post" method="POST" class="pure-form pure-form-stacked">
    <fieldset class="pure-group">
      <input type="text" class="pure-input-1-2" name="title" placeholder="Title">
      <textarea class="pure-input-1-2" name="content" placeholder="Content"></textarea>
    </fieldset>
    <input type="text" class="pure-input-1-2" name="author" placeholder="Author">
    <input type="text" class="pure-input-1-2" name="category" placeholder="Category">
    <button type="submit" class="pure-button pure-button-primary">Add new post</button>
  </form>
</div>