.pure-u-1 {
  margin: 10px 20px 10px !important;
}

article {
  border-bottom: 1px solid rgba(0, 0, 0, .3);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: rgba(10, 45, 130, .7);
}

em {
  color: rgba(0, 0, 0, .7);
}
